@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Geist", sans-serif;
  background: #f4f6fb;
  line-height: 1.5;
}

/* LOGIN */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: white;
  padding: 40px;
  width: 360px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo-circle {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: auto;
  margin-bottom: 15px;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 20px;
}

.login-card label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.hint {
  font-size: 12px;
  color: #6c3df4;
  text-align: left;
  margin: 4px 0;
}

.login-card button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(90deg, #7c3aed, #4f46e5);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.divider {
  margin: 20px 0;
  color: #999;
}

.demo-box {
  background: #f1f5f9;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 12px 40px;
  border-bottom: 1px solid #e5e7eb;
  flex-wrap: wrap;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.nav-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-right input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 220px;
}

.primary-btn {
  background: #6c3df4;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

/* MAIN */

.main-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* TABS */

.tabs {
  display: flex;
  gap: 10px;
  background: white;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tabs button {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  font-weight: 600;
}

.tabs button.active {
  background: #6c3df4;
  color: white;
}

/* ISSUES HEADER */

.issues-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.legend {
  display: flex;
  gap: 15px;
  align-items: center;
}

.circle-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #ede9fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-icon img {
  width: 28px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.open {
  background: #16a34a;
  font-weight: 600;
}

.closed {
  background: #8b5cf6;
  font-weight: 600;

}

/* GRID */

.issues-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

/* ISSUE CARD */

.issue-card {
  background: white;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.issue-title{
  margin: 10px 0;
}
.issue-description{
  font-size: 15px;
  font-weight: 500;
  color: #1F2937;
  text-align: justify;
}
.issue-card.open {
  border-top: 4px solid #16a34a;
}

.issue-card.closed {
  border-top: 4px solid #8b5cf6;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-icon {
  width: 30px;
}

/* PRIORITY */

.priority {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.priority.high {
  background: #ffeded;
  color: #EF4444;
}

.priority.medium {
  background: #fff6d1;
  color: #F59E0B;
}

.priority.low {
  background: #cbffe6;
  color: #32be51;
}

/* LABELS */

.labels {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 8px;
}

.label {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;
}

.label.bug {
  background: #fee2e2;
  color: #ef4444;
}

.label.help-wanted {
  background: #fef3c7;
  color: #d97706;
}

.label.enhancement {
  background: #d1fae5;
  color: #059669;
}

.label.documentation {
  background: #e0e7ff;
  color: #4338ca;
}

.label.good-first-issue {
  background: #dcfce7;
  color: #16a34a;
}

/* FOOTER */

.footer {
  margin-top: 15px;
  border-top: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  gap: 4px;
  font-size: 13px;
  color: #777;
  font-weight: 600;
}

/* MODAL */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(15, 23, 42, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.modal-card {
  width: 650px;
  background: white;
  border-radius: 14px;
  padding: 35px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
}

.modal-meta {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #64748b;
  margin-top: 6px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#status-dyn{

}
.status-icon {
  width: 20px;
  height: 20px;
}

.status {
  background: #16a34a;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.labels {
  display: flex;
  gap: 10px;
  margin: 18px 0;
}

.bug {
  background: #fee2e2;
  color: #ef4444;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.help {
  background: #fef3c7;
  color: #f59e0b;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.description {
  color: #475569;
  margin-bottom: 25px;
  line-height: 1.6;
  font-weight: 600;
}

.details {
  background: #f1f5f9;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
}

/* .priority {
  background: #ef4444;
  color: white;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
} */

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.close-btn {
  background: #5b21b6;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.close-btn {
  margin-top: 20px;
  background: #6c3df4;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

/* SPINNER */

.spinner {
  border: 4px solid #eee;
  border-top: 4px solid #6c3df4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* RESPONSIVE */
/* Laptop */
@media (max-width: 1100px) {
  .issues-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .issues-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar {
    padding: 15px;
  }

  .nav-right {
    width: 100%;
  }

  .nav-right input {
    flex: 1;
  }

  .tabs {
    justify-content: center;
  }

  .issues-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .legend {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .issues-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .login-card {
    width: 90%;
    padding: 25px;
  }

  .tabs button {
    flex: 1;
  }
}